[2016-07-15 07:28] shicky opened #1 "Worker must push result back into broker"
Worker must push result back into broker.

[https://github.com/shicky/gocelery/blob/master/worker.go](https://github.com/shicky/gocelery/blob/master/worker.go)

[2016-07-15 07:30] shicky opened #2 "Separate broker and backend databases"
Broker and Result Backend databases must be separated.

[2016-07-15 07:31] shicky opened #3 "Add unit tests"
Add unit tests

[2016-07-15 07:31] shicky opened #4 "Support RabbitMQ"
Support RabbitMQ database.

[2016-07-15 10:49] shicky commented on #1
Now pushing result back to broker - cbc5660e86b93fc24d04f52abfa0d95d5ba5a78a

[2016-07-15 10:49] #1 closed

[2016-07-17 05:57] shicky opened #5 "AsyncResult retries and timeout feature"
AsyncResult should support timeout instead of relying on user to keep on polling Ready().

[2016-07-17 06:06] shicky commented on #2
Committed 6b38657bdd6f855cf884da75958f74114a7f47be

[2016-07-17 06:06] #2 closed

[2016-07-18 03:50] shicky commented on #5
Timeout implemented fbbc7c250c96524a3141fb746ee83b21af713cf9

[2016-07-18 03:50] #5 closed

[2016-07-18 10:04] shicky commented on #3
Started adding unit tests db4d7f2abd2965a8e16ed29cb43090bb9c7ce39c

[2016-07-18 10:04] #3 closed

[2016-07-18 10:08] shicky opened #6 "Add doc.go"
Add doc.go for more detailed documentation

[2016-07-19 08:58] shicky opened #7 "Result interface{} returned is always string type"
gocelery worker always return result as **string**

[code]

* With celery worker (actual value should be int but this is golang parser limitation)
[code]

* With gocelery worker
[code]

[2016-07-20 13:12] Huangsir commented on #4
+1

[2016-07-23 11:35] shicky commented on #4
Branch amqp created.

[2016-07-26 04:56] shicky commented on #4
AMQP broker tested and committed d4c0e323bfbf5f1c39d1ca7fef024d044000bb35
AMQP backend is not working yet.

[2016-07-26 06:01] shicky opened #9 "Support MongoDB backend"
Support MongoDB backend using [mgo](http://labix.org/mgo)

[2016-07-26 06:13] shicky commented on #4
Precondition Failure - durable issue with python client.

[code]

[2016-07-26 11:13] shicky commented on #4
Now broker and backend fully supported. cd4f137f948b67419cfe5c2c82f3c1fb2760da8e

[2016-07-26 11:13] #4 closed

[2016-07-28 21:18] nathanjordan opened #12 "Task should be an interface, not an anonymous function"
[code]

This way you can add dependencies without accessing global state.

For example

[code]

[2016-07-29 10:38] shicky commented on #12
Thank you for the issue.
I think its great idea but it might also add burden of extra code to users.
You can achieve same effect by registering member functions instead.
Take a look at below example.

[code]

[2016-07-29 13:36] pfortin-urbn opened #13 "AMQP / AWS SQS"
Can I use AMQP to talk to AWS? or is there an AWS backend in the works?
As well and example for AWS would be nice if that is an option of course.

[2016-07-29 21:21] nathanjordan commented on #12
Even if you _CAN_ pass a bound method to `Register` (does it need to have a pointer receiver to do this?), in idiomatic Go this kind of thing is usually accomplished using an interface. Most use cases for Celery I've experienced in production environments involve a lot of moving pieces and are rarely very simple functions like this.

If you don't want to change the API and still have this as a fea

[2016-07-30 05:04] shicky commented on #13
Thanks for the issue.
As far as I can tell, AWS SQS does not use AMQP so it is not compatible.
I do not have access to AWS SQS.
Perhaps, I can help you get AWS SQS to work if you could give me an access.

[2016-07-30 05:14] shicky commented on #12
Above code works and [pointer to interface is not correct type to hold pointer to struct.](http://stackoverflow.com/a/13511853)

I assume that you want to model after [Celery task class](http://docs.celeryproject.org/en/latest/userguide/tasks.html#instantiation) in Python implementation.

Certainly your approach would mirror that.
You are always welcome to create pull request =)

[2016-07-31 00:08] nathanjordan commented on #12
I think you're misunderstanding what I'm trying to say. The article you linked is about pointers to interfaces. I'm referring to the method you're adding to register (`add`) having a [pointer receiver](https://golang.org/doc/faq#methods_on_values_or_pointers).

Regardless, I think a PR will clear up confusion. The "Celery task class" is the correct approach to take in Go.

[2016-07-31 23:57] shicky commented on #12
Oh I see what you mean.
Yes I guess there are cases where that is needed.

[2016-08-01 02:34] shicky opened #14 "runtime error if celery task method has no return value"
runtime error if celery task method has no return value.

[code]

[2016-08-01 04:29] shicky commented on #14
Fixed 13e2e2ee17c05778f4cbb55e58ad8fc19a573aaa
Needs to add corresponding test.

[2016-08-03 14:03] Huangsir opened #15 "Use configurable logging library"
Use something seelog or logrus, at least we can configura the log level and log path

[2016-08-05 13:11] shicky commented on #15
I am not sure if it is good idea to use non-standard third-party logging libraries on open-source project like gocelery.
Projects that integrates gocelery may want to have freedom to chose logging library of their own.

[2016-08-06 03:08] Huangsir commented on #15
You can offer a method to change log config on runtime

[2016-08-06 03:11] shicky commented on #15
Could you explain further through email? (shicky@gmail.com)

[2016-08-29 09:42] shicky opened #16 "zeromq broker support"
Celery has experimental support for [ZeroMQ broker](http://zeromq.org/).
ZeroMQ is brokerless high performance message queue that outperforms others.

[2016-08-29 20:27] ask commented on #16
Celery doesn't have support for this anymore, it was more of an experiment but I'm not sure it ever worked properly.

ZeroMQ is definitely high performance, but it's unfair to compare that to RabbitMQ since 0mq doesn't actually implement the same features (the broker part is not something you can easily let go of if you need delivery guarantees).

Using ZeroMQ for Celery would involve designing a

[2016-09-08 11:48] shicky commented on #13
Not supporting at the moment.

[2016-09-08 11:48] #13 closed

[2016-09-11 02:18] shicky opened #17 "Optimize memory using sync.Pool"
Optimize memory using sync.Pool where applicable

[2016-09-11 02:43] shicky commented on #17
Now using sync.Pool when applicable - 2a9b062b7a0bf082759d5e68607b4916f26c1aab

[2016-09-11 02:43] #17 closed

[2016-09-11 06:22] shicky commented on #6
Added doc.go

[2016-09-11 06:22] #6 closed

[2016-09-30 11:04] shicky opened #18 "Periodically poll backend database for results"
Instead of continuously polling backend database, poll periodically in order to not stress the database.

[code]

[2016-09-30 11:05] shicky opened #19 "Optimization: remove defer where applicable (defer allocates memory)"
Remove `defer` where applicable as it allocates memory.

[2016-09-30 11:31] shicky opened #20 "registeredTasks map is not thread-safe"
golang map is not thread-safe.
`registeredTasks` map is currently accessed without mutex causing tests to randomly fail.

[2016-09-30 11:37] shicky commented on #20
[code]

[2016-09-30 12:00] shicky opened #21 "running concurrent tests with multiple CeleryClient and multiple tasks fails"
As apparent from below log, `TestWorkerClientArgs` test is attempting to get registeredTasks map `0xc4200e48d0` instead of `0xc4200e5590` which is from `TestWorkerClientKwargs` test.
- both tests have new CeleryClient of its own: `0xc4200e4900`, `0xc4200e55c0`
- both tests pass if run individually.

[code]

[2016-10-07 05:15] shicky opened #22 "add feature to clear broker/backend queue"
It may be helpful to have a feature to clear broker/backend queues.

[2016-10-07 06:27] shicky opened #23 "Support multiple clients"
In current implementation, `gocelery` workers consume task item from queue and discard if its not intended for them.
When there are multiple `CeleryClient`, they may consume task items intended for competing `CeleryClient` and discard all of them.

Needs to investigate `celery` implementation for the case of multiple workers on same machine.
[http://docs.celeryproject.org/en/latest/userguide/worke

[2016-10-07 06:36] shicky commented on #21
In current implementation, when `StopWorker()` is called, `gocelery` does not wait for all workers to exit.
This causes older worker processing newer requests causing above error.

There is a bug where `w.workerWG.Wait()` is called inside `StartWorker()` function instead of `StopWorker()` function.

Related Issue:
`gocelery` currently can support only one client per machine - refer to #23

[2016-10-07 09:41] shicky commented on #21
`GetTaskMessage` should not be blocking.
There is a bug in `amqp_broker.go` where GetTaskMessage() blocks on `consumingChannel`.

[2016-10-07 11:12] shicky commented on #21
streadway/amqp does NOT allow concurrent use of channels.
`TestWorkerClient*` tests should be merged and not run in parallel.

[https://github.com/streadway/amqp/issues/170](https://github.com/streadway/amqp/issues/170)

[2016-10-07 11:30] shicky commented on #21
Fix in place 2544d6720d82fd6ac955137722d3c1f2ccf05027
* waiting for all workers to finish on `StopWorker()`
* concurrent tests removed due to limitation with `steadway/amqp` library

[2016-10-07 11:30] shicky commented on #18
fix committed 2544d6720d82fd6ac955137722d3c1f2ccf05027

[2016-10-07 11:30] #18 closed

[2016-10-07 11:44] shicky commented on #20
committed 84ace0328d823e62be8928281ee0456a698aee13

[2016-10-07 11:44] #20 closed

[2016-10-07 11:47] shicky commented on #12
Using interface would provide performance gain over using reflection.
Only arguments passed through `kwargs` dictionary is supported using `CeleryTask` interface.

merged at a14372d12fc85b6a39ed3ce79f142435a38660e0

[2016-10-17 09:03] luedigernet opened #25 "Each worker burns one CPU core even if he is only waiting for new messages"
The StartWorker() function runs into an loop and on each iteration it wants to get new messages from the broker.

As far as i understood go channels normaly you want explizit the blocking behavior of channel reads and write so that the underling code ony gets executet if there is something on the channel.

In the way you used the select satement brakes this pattern due to the default: case.
Everyt

[2016-10-17 10:01] shicky commented on #21
Following statement must be reviewed:
* `GetTaskMessage()` of CeleryBroker and `GetResult()` of CeleryBackend must be non-blocking.

[2016-10-17 10:11] shicky commented on #25
Thanks for the issue Reinhard,

This is a bug introduced with recent commit 2544d6720d82fd6ac955137722d3c1f2ccf05027
I made the change in an attempt to fix concurrency issue with AMQP broker.
But for now, `GetTaskMessage()` should be blocked for correct operation.
I reverted the breaking change on commit c3d75bafa7eb9a5b03d8fe7815b81a8d9b7eca2c

[2016-10-17 10:49] luedigernet commented on #25
i assume that there needs more to be fixed.
The go routine spawned in StartWorker now reacts on the stop channel only if messages are received.

because  the default: path gets blocked from w.broker.GetTaskMessage() maybe there are some design changes needed.

[code]

[2016-10-17 10:54] shicky commented on #25
You are correct that it is a temporary fix.
I am currently very busy and will take a look at the end of this month.

[2016-12-04 08:50] #9 closed

[2016-12-04 08:50] #25 closed

[2016-12-04 08:51] #23 closed

[2016-12-04 08:51] #22 closed

[2016-12-04 08:51] #21 closed

[2016-12-04 08:51] #12 closed

[2016-12-04 08:51] #14 closed

[2016-12-04 08:51] #15 closed

[2016-12-04 08:51] #16 closed

[2016-12-04 08:51] #19 closed

[2017-02-08 10:19] faza opened #26 "Celery worker in go is not receiving task submitted by python client"
The following python client works fine with celery worker in python, but does not work with the celery worker written in go. But, when i use the go client to submit tasks, it works.

I would be grateful if anyone could help me out with this issue.

test.py
[code]

celeryconfig.py
[code]

worker/main.go
[code]

[2017-02-08 10:39] faza commented on #26
Actually, the task is received.
I found this error in StartWorker()

`json: cannot unmarshal array into Go value of type gocelery.TaskMessage`

[code]

[2017-05-31 18:47] 23doors commented on #26
@faza are you using celery>=4? Task protocol has changed since then. You can still use old version by adding:
`CELERY_TASK_PROTOCOL = 1`

[2017-11-29 13:17] tensor146 opened #27 "Specify supported celery version"
Will be great if someone will specify supported celery version(s) in readme.md

[2017-12-12 09:44] tensor146 commented on #23
Looks like this issue still was not fixed.
As I see, every worker still consuming all tasks it can consume and always acking them (and just printing "task is not registered" notice) instead of requeue'ing.

[2018-01-23 07:26] ole3021 opened #29 "uuid.NewV4() build error"
[code]

[2018-02-11 18:51] sickyoon commented on #29
PR merged

[2018-02-11 18:51] #29 closed

[2018-06-21 06:59] gushitong opened #35 "Celery Message Protocol Version 2 Support?"
Celery Message Protocol:
http://docs.celeryproject.org/en/latest/internals/protocol.html

[code]

Celery 4.2(Consumer) will crash if receive task from `gocelery` due to Message Protocol Mismatch.

[2018-06-26 19:14] arxenix opened #37 "Why was the commit history cleared?"

[2018-06-28 07:46] akkumar opened #38 "github release"
Can we have a github release , (say 0.1.0 or any other semver, as appropriate ) so it can be integrated better with ``dep``

[2018-06-28 11:22] akkumar opened #39 "dependency on the right redigo repository"
Gopkg.toml depends on garyburd/redigo

Apparently , it has moved to gomodule/redigo - as per the recent docs in that repo

Any plans to change

[2018-06-28 13:36] akkumar commented on #38
It would be good to have this one after reviewing / incorporating #40 , #41 #42

[2018-07-05 22:19] argoyb opened #43 "Not possible to specify destination queue"
It is possible in python client to specify which queue to send task to: http://docs.celeryproject.org/en/latest/userguide/routing.html

However there is no such feature in `gocelery`

[2018-07-09 11:22] l0rda opened #45 "Add ability to set ETA"
Please,

add ability to set message ETA.
Alternately add public method accepting *TaskMessage.

Thanks.

[2018-07-25 12:16] kostrahb opened #46 "Is gocelery binary safe?"
Hi, I would like to send byte array through the queue as a parameter of one function. However I am not sure whether it wouldn't be safer if I for example base64-encoded the byte array and send it as string. Is this library able to accept raw byte array or not?

[2018-07-26 10:55] haritsfahreza opened #47 "Initialize using predefined Channel and Connection of AMQP"
Hi,

Due to performance issues, I need to get the `amqp.Connection` & `amqp.Channel` that initialize on `NewAMQPCeleryBroker` so I can manage when it should be initiated, closed and re-initiated.

I found that it already has `NewAMQPConnection` and return `amqp.Connection` & `amqp.Channel`. But there is no `NewAMQPCeleryBroker` method that can be initialize using `amqp.Connection` & `amqp.Channel`

[2018-08-07 06:16] #47 closed

[2018-08-07 09:38] #39 closed

[2018-08-07 09:40] akkumar commented on #38
All the above mentioned PR-s have been incorporated as of now onto master.

It would be good to have a release, however minor / beta it may be , to keep an eye on changelog , as opposed to referring to master  / git-hash  combination as it exists today.

[2018-08-07 17:40] sickyoon commented on #27
It supports message protocol v1. I am working on supporting message protocol v2 atm.
You can always open a PR :)

[2018-08-07 17:41] sickyoon commented on #35
I am working on supporting message protocol v2

[2018-08-07 17:42] sickyoon commented on #38
After the last PR is merged, I'll do the release specifying which celery versions are supported.

[2018-08-16 10:04] vimukthi-git opened #50 "Add ability to set Retries"
Hi,

Nice library thanks for this. We would like to adapt this for a soon to be open sourced project. For our use case ability to set retries is critical(same with ETA but I see an issue already exists for that). Do you plan to support this soon? I can also implement this and make a PR if you don't mind.

Best,
Vimukthi

[2018-08-22 08:58] kostrahb opened #55 "Please do NOT rewrite git history"
I had quite old version of gocelery from february and today I have updated it with `go get -u all`. After executing this command I got error message:

[code]

Please do not rewrite git history in public repositories, it causes unnecessary troubles!

![history](https://user-images.githubusercontent.com/8557957/44453667-ec9dbb80-a5f9-11e8-8604-965bb0ae1122.png)

[2018-09-11 01:43] sickyoon commented on #55
duly noted

[2018-09-11 01:43] #55 closed

[2018-10-09 17:59] sickyoon commented on #50
Please create a PR and I'll review it.

[2018-10-09 18:00] sickyoon commented on #46
Does celery support raw byte array as arguments?

[2018-11-21 10:41] HazCod commented on #26
@23doors How does one specify this? I am using celery-php and gocelery.

[2018-11-21 10:49] HazCod opened #59 "No tasks from celery-php"
PHP (https://github.com/gjedeer/celery-php):
[code]

In go:
[code]

However, the go client never sees the tasks submitted.
In Redis in debug logging, I see:
[code]

Anything im missing?

In redis;
[code]

[2018-11-26 10:30] HazCod commented on #59
Edit: seems to be incompatible.

[2018-11-26 10:30] #59 closed

[2018-12-23 11:19] subashw commented on #43
I have patched the current code and given it an ability to specify the queue and it works with python for me.  Happy to contribute this to the community.

[2019-02-20 12:57] sanghinitin opened #63 "There should be a option to start as only consumer or producer"
As per current `gocelery.NewCeleryClient` default create a connection as consumer, which create issue when you send task to python celery or different consumer. Due to this some message are in queue as without acknowledgement

[2019-02-20 13:01] sanghinitin commented on #35
i have created a solution for this using https://github.com/streadway/amqp direct implementation. But it not as per complete.
`// Returns a pointer to a new task header object
func NewHeader(id string ,task string) (amqp.Table) {
	t := make(amqp.Table)
	t["task"] = task
	t["lang"] = "py"
	t["id"] = id
	t["root_id"] = id
	return t
}

func NewBody(args []interface{}, kwargs map[string]interface{}) (

[2019-03-02 00:16] sickyoon opened #64 "add more celery tasks for benchmark"
add more celery tasks for benchmark

refer to https://benchmarksgame-team.pages.debian.net/benchmarksgame/faster/go.html for inspiration

[2019-03-02 00:24] sickyoon opened #65 "celery 3.1.19 compatibility test"
## celery 3.1.19 compatibility test

only message protocol version 1 is supported prior to celery 3.1.25
http://docs.celeryproject.org/en/4.0/whatsnew-4.0.html#step-1-upgrade-to-celery-3-1-25

* celery 3.1.19 (Oct 26, 2015)
* redis-py 2.10.5 (Nov 2, 2015)
* redis 2.8.23 (Oct 15, 2015)

[2019-03-02 00:27] sickyoon opened #66 "celery 3.1.25 compatibility test"
# celery 3.1.25 compatibility test

test message protocol version 1 and version 2.
http://docs.celeryproject.org/en/4.0/whatsnew-4.0.html#step-1-upgrade-to-celery-3-1-25

* python 2.7.10
* celery 3.1.25 (Nov 4, 2016)
* redis-py 2.10.5 (Nov 2, 2015)
* redis 3.2.11 (Sep 21, 2017)

[2019-03-02 00:31] sickyoon opened #67 "celery 4.2.1 compatibility test"
celery 4.2.1 compatibility test
test message protocol version 1 and version 2.
http://docs.celeryproject.org/en/4.0/whatsnew-4.0.html#step-1-upgrade-to-celery-3-1-25

* python 2.7.10
* celery 4.2.1 (latest)
* redis-py 3.2.0 (latest)
* redis 5.0.3 (latest)

[2019-03-02 00:33] sickyoon commented on #43
pending validation

[2019-03-02 00:44] sickyoon commented on #27
Related issues:
* https://github.com/gocelery/gocelery/issues/65
* https://github.com/gocelery/gocelery/issues/66
* https://github.com/gocelery/gocelery/issues/67

[2019-03-03 07:29] sickyoon opened #68 "better documentation & comments"
* clean up comments
* documentation in accordance to https://blog.golang.org/godoc-documenting-go-code
* verify generated godoc
* fix tests to have consistent formatting

[2019-03-03 09:14] sickyoon opened #69 "remove unnecessary uuid.go"
remove unnecessary uuid.go

[2019-03-03 09:20] sickyoon opened #70 "fix tests, travis, and lint issues"
fix tests, travis, and lint issues

[2019-03-03 22:33] sickyoon opened #71 "AMQP broker/backend is hanging"
AMQP broker/backend is hanging.
This can be reproduced by running `gocelery_test.go` with amqp broker and amqp backend.

[2019-03-03 22:33] sickyoon commented on #70
Test is hanging when client is initialized with amqp broker and amqp backend.
https://github.com/gocelery/gocelery/issues/71

[2019-03-03 22:48] sickyoon opened #72 "Implement better error handling with Wrap and avoid Panic"
Implement better error handling with Wrap and avoid Panic
https://godoc.org/github.com/pkg/errors

This may introduce breaking changes.

[2019-03-03 23:02] sickyoon commented on #71
worker goroutine is blocked on AMQP broker `GetTaskMessage()` method.
This should return if there is no task.

[2019-03-04 00:05] sickyoon commented on #71
Fix merged. Closing.

[2019-03-04 00:05] #71 closed

[2019-03-04 01:08] sickyoon opened #74 "support arrays and maps as arguments"
arrays and maps as arguments are not supported at the time of writing.
If you run following code, it will end up with empty arguments.
[code]

[2019-03-04 02:04] sickyoon opened #75 "support float32 as arguments"
float32 is not supported at the time of writing.
If you run following code, you will run into panic.
[code]

[2019-03-04 03:17] sickyoon opened #77 "who is using gocelery?"
Hello folks!
I'd love to hear who is using gocelery for their projects.
With your permission, I'd like to include a list in README.md.
It would be very helpful to understand how this library is being used to for future direction.

[2019-03-04 03:30] sickyoon commented on #70
merged and travis-ci is passing.
added support for linter

[2019-03-04 03:30] #70 closed

[2019-03-04 03:37] sickyoon commented on #69
PR: https://github.com/gocelery/gocelery/pull/78

[2019-03-04 03:39] sickyoon commented on #69
merged. closing.

[2019-03-04 03:39] #69 closed

[2019-03-04 03:41] sickyoon opened #79 "use context.Context instead of stop channel"
use context.Context instead of stop channel.
provide additional method to allow user to pass in custom context.

[2019-03-04 16:48] sickyoon commented on #79
PR https://github.com/gocelery/gocelery/pull/80 merged.

[2019-03-04 16:48] #79 closed

[2019-03-05 01:21] sickyoon opened #81 "broker bug due to fixed eta value - needs to provide an ability to set ETA"
There is a bug where `eta` is set in sync memory pool to a fixed value and previous value shows up on next run.
gocelery needs to be able to allow people to set `eta` value.

[2019-03-05 01:32] sickyoon commented on #68
fixing and reformatting tests: https://github.com/gocelery/gocelery/pull/82

[2019-03-05 02:03] sickyoon opened #83 "Handle errors for amqp delivery acknowledgement"
delivery acknowledgement is tried only once and error is not checked.
retry logic should be implemented to try a few times before giving up (refer to below snippet)

`golangci-lint` will fail `errcheck` until this is implemented.

[code]

[2019-03-05 02:33] sickyoon commented on #81
Turns out this bug is due to `celeryMessage` struct is not recycled until the end of the test.
https://github.com/gocelery/gocelery/blob/0b12d281fb2129d46409558062aacf13a857bbd9/broker_test.go#L118

It is still a good idea to have ETA feature however.

[2019-03-05 03:57] sickyoon opened #84 "AMQP backend `GetResult` is blocking"
AMQP backend `GetResult` is blocking.
Expected behaviour is to return error if result is not available.

[2019-03-05 04:18] sickyoon commented on #83
merged https://github.com/gocelery/gocelery/pull/85

[2019-03-05 04:18] #83 closed

[2019-03-05 04:56] sickyoon commented on #84
`GetResult` is blocked on delivery channel.

https://github.com/gocelery/gocelery/blob/e83aab0276fbd76b07327ce10d3127bbc49fd4af/amqp_backend.go#L81-L88

[2019-03-05 05:05] sickyoon opened #86 "In-memory mock broker/backend for tests and examples"
In-memory mock broker/backend for tests & examples

[2019-03-05 05:21] sickyoon opened #88 "AWS SQS support"
AWS SQS support

[2019-03-05 18:54] maxkleb opened #89 "Periodic tasks and future tasks"
Hi, thank you for an amazing product. I've noticed that gocelery doesn't support periodic tasks and future tasks (or at least can't find it in the docs). Is this something that you plan to implement? If not can you please advice how can I implement this functionality by my own?

Thanks a lot.

[2019-03-05 19:44] sickyoon commented on #89
Implementing periodic task from client side should be simple enough but I haven't looked into how celery is doing it. Are you trying to implement go client to call python celery workers?

[2019-03-06 06:06] sickyoon commented on #68
examples and comments cleaned up.

[2019-03-06 06:06] #68 closed

[2019-03-06 07:07] sickyoon opened #93 "port useful features & bugfixes from forks"
Use this issue to note useful features & bugfixes from forks

[2019-03-06 07:19] JJ commented on #26
I'm having exactly the same problem. The worker is sending the tasks to the "celery" queue, but the Go is not reading from that queue. As a matter of fact, it's not clear to me from what queue it's reading.

[2019-03-06 07:30] HazCod commented on #26
I debugged this back in November and discovered several incompatibilities, such as header names.
I tried fixing stuff, but kept running my head into other bugs.

[2019-03-06 07:34] JJ opened #94 "gocelery is apparently reading but dropping tasks"
I have created this example, taken from the (1 day old) README:

[code]

I'm using this Python client:
[code]

The client is sending to the "celery" queue, and apparently that queue is being emptied by the worker. However, the function "registra" is not called. Any idea?

[2019-03-06 07:55] sickyoon commented on #26
@JJ @HazCod can you copy and paste code snippet to reproduce the error? Also if you could let me know what broker/backend you are using as well as their versions. What celery version are you using? Versions after 3.1.25 uses celery message protocol version 2 by default and you need to explicitly set it to use version 1. I am also working on supporting message protocol ver 2 in v2 branch.

[2019-03-06 08:02] HazCod commented on #26
@sickyoon I think it's best we wait for V2 support, and then make sure V2 is compatible?
The message broker I used was RabbitMQ. (so protocol AMQP)

[2019-03-06 08:16] JJ opened #95 "gocelery worker fails to decode message from python client (python 3.6, celery 4.2.1, redis backend)"
Since I couldn't get the RabbitMQ version to work (see #26 ) I have switched to Redis. Here's the program:
[code]

And the reception, which is pretty much the same, but for redis:
[code]

Messages are received allright, but it errors:
[code]

The error is the same with or without the `serializer='json'` argument. Looking at the source of the error, it seems to be trying to decode some Base64 stuff

[2019-03-06 09:28] JJ opened #96 "gocelery client crashes python celery workers (python 3.6, celery 4.2.1, redis broker/backend)"
I'm trying this Go client:
[code]

But it crashes the Python worker with this error:
[code]

That particular worker works like a charm with Python and also node-celery clients, so far.

[2019-03-06 10:23] JJ commented on #26
So all the problems come from the fact that it's using the v1 version of
the protocol? Is there a way to have back-compatibility mode?

Anyway, all my code is in the three issues I have created. TL;DR: I simply
couldn't make it work, and it even broke a queue and had to purge it.

El mié., 6 mar. 2019 a las 9:02, HazCod (<notifications@github.com>)
escribió:

--
JJ

[2019-03-06 16:08] sickyoon commented on #96
Please provide following information when reporting bug:

* celery version
* broker type & version
* backend type & version

[2019-03-06 16:08] sickyoon commented on #95
Please provide following information when reporting bug:

* celery version
* broker type & version
* backend type & version

[2019-03-06 16:25] JJ commented on #95
Celery: 4.2.1 (windowlicker)
Broker and backend: redis Redis server v=3.0.6 sha=00000000:0 malloc=jemalloc-3.6.0 bits=64 build=28b6715d3583bf8e

[2019-03-06 16:27] JJ commented on #96
Celery: celery --version
4.2.1 (windowlicker)
Broker & backend: RabbitMQ       {rabbit,"RabbitMQ","3.7.12"},

[2019-03-06 23:13] sickyoon commented on #95
This is due to celery message protocol version 2.
I got goworker to work with python client.
If you want to use Python3 with Celery, you need version `3.6` and you need to configure your python worker to use celery message protocol version 2.

[code]

Let me know after you try this out.
I am still working on getting goclient working with python celery worker.

[2019-03-06 23:29] sickyoon commented on #96
Okay, I tracked down the issue. Above error is due to ETA being set as empty string whereas celery worker is expecting it to be null.

[2019-03-06 23:46] sickyoon commented on #96
Fix merged: https://github.com/gocelery/gocelery/pull/97
@JJ can you try again and let me know so I can close this issue?

[2019-03-06 23:47] sickyoon commented on #95
README and example updated with new configuration: https://github.com/gocelery/gocelery/pull/97
@JJ can you try again and let me know so I can close this issue?

[2019-03-07 00:16] sickyoon commented on #89
@maxkleb it looks like `celery.beat`, a package responsible for periodic tasks, kicks off tasks at regular intervals. GoCelery workers should be compatible with these tasks. I will try to include an example. Do you also require GoCelery clients to send periodic tasks to python celery workers?

[2019-03-07 06:38] JJ commented on #95
OK, will do.

[2019-03-07 06:38] JJ commented on #95
OK, thanks.

[2019-03-07 06:39] JJ commented on #96
OK, I'll give it a try. Do we need to set protocol version also to one?

[2019-03-07 15:59] sickyoon commented on #96
yes

[2019-03-07 20:35] sickyoon commented on #96
This has been verified on my end. Closing.

[2019-03-07 20:35] #96 closed

[2019-03-07 20:35] sickyoon commented on #95
This has been verified on my end. Closing.

[2019-03-07 20:35] #95 closed

[2019-03-08 08:00] sickyoon opened #99 "Fix AMQP broker/backend with connection error handling"
Fix AMQP broker/backend.

* 1 connection per broker, 1 channel per worker (https://stackoverflow.com/questions/10407760/is-there-a-performance-difference-between-pooling-connections-or-channels-in-rab)
* handle connection error using `conn.NotifyClose(c)`
* more options by avoiding hard coded names for queue and exchange

[2019-03-10 14:19] maxkleb commented on #89
Hi, I'm running Go clients as well as workers. The idea is to run client service duplicated to be more fault-tolerant.

[2019-03-14 03:02] sickyoon opened #100 "rate limit worker when checking for task message"
## Problem

worker spams broker attempting to get task message continuously.

## Solution

rate limit worker when checking for task message using ticker

[2019-03-14 03:12] sickyoon commented on #100
merged.

[2019-03-14 03:12] #100 closed

[2019-04-01 16:05] helmus opened #103 "Clarify: does not allow concurrent use of channels"
Hello , I noticed the documentation mentioned that  `AMQP (broker/backend) - does not allow concurrent use of channels`.

Could you clarify what this means ? Does this imply any performance issues ?

[2019-04-10 14:09] mscansian commented on #77
Not using yet, but planing to. We have a production application that dispatch tasks to the workers. It reads a stream of data (AWS DynamoDB Streams) and fans out a number of tasks. This piece of code is currently written in Python, but our infrastructure is getting bigger and its on the verge of not being able to cope with the load. Since DynamoDB Streams doesn't allow for custom sharding (and the

[2019-04-10 19:34] sickyoon commented on #77
@mscansian I don't have access to DynamoDB. If you guys want, I can help you implement DynamoDB broker and backend.

[2019-04-10 20:22] mscansian commented on #77
No need. DynamoDB is our upstream datasource. We are using RabbitMQ as the broker.

[2019-04-11 16:34] sickyoon commented on #77
@mscansian gocelery amqp is a bit unstable at the moment. let me know if you need any help!

[2019-04-16 18:38] phamdt commented on #77
using it with redis to broker tasks coming from various services written in various languages but processing them in go

[2019-04-17 18:45] danielchengml opened #104 "Making taskID in AsyncResult a public field."
https://github.com/gocelery/gocelery/blob/892a6d55c1d7e9aa51a1b613f68e600c6f6a6ffb/gocelery.go#L113

Hi @sickyoon, great project you have done! I was wondering what the reason was for setting the fields in `AsyncResult` as private fields especially `taskID`. I am hoping to retrieve the TaskID immediately after I submit the task to the queue even before the queue's been worked on by the worker. Wou

[2019-04-17 18:53] sickyoon commented on #104
Hey @danielchengml I don't see a problem with making `TaskID` public.
Why don't you create a PR?

[2019-04-17 19:22] danielchengml commented on #104
Thanks for your prompt reply @sickyoon! Made a PR ^

[2019-04-17 19:34] danielchengml opened #106 "Creating an interface for CeleryClient"
https://github.com/gocelery/gocelery/blob/892a6d55c1d7e9aa51a1b613f68e600c6f6a6ffb/gocelery.go#L14

Thoughts on creating an `interface` for `type CeleryClient struct`? The interface would look something like this:

[code]

This thought came about as I was mocking `CeleryClient` for testing purposes. However, it is also possible to include this interface in the user/consumer's repo together with th

[2019-04-18 00:35] sickyoon commented on #104
PR merged.

[2019-04-18 00:35] #104 closed

[2019-04-19 05:53] sickyoon commented on #106
I think this can easily be achieved in your own code. Also it might be better idea to mock broker/backend instead.

[2019-04-19 05:55] #106 closed

[2019-04-25 21:51] danielchengml opened #107 "Monitoring Tool/UI for Gocelery (FlowerUI)"
Hi @sickyoon would you know if there is any Monitoring UI for gocelery just like how Flower UI can monitor celery? Or do you know if flower UI can be configured to server a gocelery application?

[2019-04-25 21:53] sickyoon commented on #107
I haven't tried myself but I suppose it should be compatible.

[2019-05-02 18:31] danielchengml commented on #107
@sickyoon I've looked into the compatibility of [mher/flower](github.com/mher/flower) and gocelery and realized that they are incompatible. So while flower was built to monitor python celery and gocelery and celery share the same protocol, the method in which flower monitors celery doesn't work for gocelery.

It seems like flower is able to communicate directly with python celery's worker and inst

[2019-05-02 18:31] #107 closed

[2019-05-02 18:51] sickyoon commented on #107
@danielchengml that can be interesting project: reverse-engineering kombu and build go client.
I have been busy lately. I'll look once I have time.

[2019-05-02 19:01] danielchengml commented on #107
@sickyoon Yeah, definitely an interesting project right there. Another one that would be interesting could be a Go written monitoring tool for gocelery with or without kombu. Will be keen to chat more when you have the time to look at this.

[2019-05-02 19:10] danielchengml opened #108 "Monitoring Tasks: Passing TaskMessage into ParseKwargs() and RunTask()"
I am looking to monitor tasks throughout its lifecycle and for this issue specifically, I want to monitor whether the task is successfully processed by the worker and also log the errors if it fails.

To do that, I would want the worker to utilize the task information ([`TaskMessage`](https://github.com/gocelery/gocelery/blob/7a9f6973957b6749f66e425d3dc6a87744e8ea4e/message.go#L113)) together with

[2019-05-03 23:59] danielchengml commented on #108
Just realized that this proposal will create a backwards compatibility issue. Therefore this wouldn't work and I will be closing this issue. In case you're curious, this is how it would look like: https://github.com/danielchengml/gocelery/pull/1/files

[2019-05-03 23:59] #108 closed

[2019-05-06 23:06] danielchengml opened #109 "Storing failed tasks in Backend"
https://github.com/gocelery/gocelery/blob/b32fedd18857d5975170395a2b8145ed7d1b5885/message.go#L195

Currently the worker only stores successful tasks in the backend. Failed tasks will merely be logged. Could we also store failed tasks in the backend as per what python celery is doing:

[code]

[2019-05-08 15:58] phamdt commented on #45
@sickyoon you want help with this?

[2019-05-08 17:35] sickyoon commented on #45
I thought I already added ETA. @phamdt you're always welcome to create a PR.

[2019-05-08 20:32] phamdt commented on #45
You have the ETA property set but I believe the worker logic needs to be updated to respect the ETA by not running the job until the specified time. So there'd be a fair amount of work (which I'm happy to take on) to adjust the worker loop execution logic, probably port over some timestamp validation, and then some doc additions as well.

[2019-05-08 21:03] sickyoon commented on #45
@phamdt cool as long as you don't introduce breaking changes.

[2019-05-27 16:48] Juanfree opened #111 "Receive map as return from the client"
HI,

I am testing this library, and I am trying to send from the work the return as map.

That's is possible with this library?

Thanks in advance and good job with this library!!! :)

[2019-05-28 22:30] sickyoon commented on #111
Map and array are not yet supported.
You can get around this by marshalling the objects.
You are always welcome to create PR to support different data structures.

[2019-05-28 22:31] sickyoon commented on #109
@danielchengml PR requests are always welcome

[2019-06-27 15:12] HassankSalim commented on #74
I would like to help out, If you could tell me where to start it would be great

[2019-07-20 10:20] m3nu commented on #94
Seeing this as well. It works locally, but messages disappear without trace in production.

[2019-07-20 10:52] m3nu commented on #94
@JJ, I was just scratching my head over the same issue. After adding some debug code, I noticed that unmarshalling failed near `amqp_broker.go:195` due to different fields.

Then I noticed that I didn't have `CELERY_TASK_PROTOCOL=1` in my Python client. I don't see it in your script either. Maybe worth checking.

[2019-07-23 06:25] aaronn commented on #89
An example would be really helpful for this. 👍

[2019-07-25 08:51] aaronn opened #115 "Celery Beat + Periodic Tasks"
I'm not sure if this is exactly what's mentioned in #89, but with Celery I can call periodic tasks and set a scheduler by running my worker like this. It seems like there's no way to do this in gocelery today– but is there a plan to support this? I want to switch over but it isn't feasible for me right now without the periodic beat.

`celery -A myproj.celery worker --beat -l info --scheduler djang

[2019-07-27 03:03] m3nu commented on #99
Just started using this package in production and found this error after about 2 days. Is this related to this issue?

`Exception (504) Reason: "channel/connection is not open"` (AMQP)

Workaround for now: restart it every few hours.

I'm happy to debug or test any pre-release if it helps.

[2019-08-13 20:20] Henderake opened #117 "Infinite loop bug in deliveryAck"
There is an infinite loop bug in deliveryAck as retryCount isn't decreased. If RabbitMQ is down then deliveryAck will retry indefinitely and consume a lot of CPU resources.

[2019-08-14 04:57] sickyoon opened #118 "travis removed rabbitmq service for xenial"
Travis removed rabbitmq service for xenial and set xenial as default os.
`rabbitmq-server` must be installed manually using apt addon.

[2019-08-14 04:59] sickyoon opened #119 "remove subpackage from test run"
There are no tests in subpackages so it is safe to remove subpackage from test run.
`go test ./...` is mysteriously hanging on travis.

[2019-08-14 05:09] sickyoon commented on #118
resolved

[2019-08-14 05:09] #118 closed

[2019-08-14 05:18] sickyoon commented on #119
resolved.

[2019-08-14 05:18] #119 closed

[2019-08-17 09:24] gruianichita commented on #43
@subashw awesome fix!!! Can u make merge request?

[2019-08-17 11:11] sickyoon commented on #43
@subashw if you don't mind, Ill make PR myself based on your changes.

[2019-08-17 13:08] subashw commented on #43
Please go right ahead.  Thanks

[2019-08-17 13:11] subashw commented on #43
Go right ahead

On Sat, Aug 17, 2019 at 4:42 PM Sick Yoon <notifications@github.com> wrote:

--

Read my blog http://subashwsrishti.blogspot.com/

[2019-08-17 23:54] subashw commented on #43
Please preserve my branch.  I still use it

[2019-08-24 04:24] actumn opened #123 "Why does gocelery use BLPOP command in redis broker?"
Hi.
I have the question about redis_broker.go
https://github.com/gocelery/gocelery/blob/17631e11026a63f12751d8b4b0e0e2fe521e745b/redis_broker.go#L49-L83
We can find that it uses LPUSH when it sends and BLPOP when it gets.
I assume it would be LIFO, not FIFO.
I want to ask why it doesn't uses BRPOP which kombu uses.

https://github.com/celery/kombu/blob/8a974955a80b94eb0c7138a6cba5b53dd3dc911a/komb

[2019-08-24 05:17] sickyoon commented on #123
@actumn do you happen to be in korea? would you like to collaborate?

[2019-08-24 05:33] actumn commented on #123
@sickyoon Yes I am :)

[2019-08-24 06:14] sickyoon commented on #123
add me on telegram @sickyoon

[2019-08-29 13:16] sickyoon commented on #123
It may have to do with Celery versions. Please check with `MONITOR` to see the difference between Celery versions.

[2019-08-31 05:59] actumn commented on #123
I checked celery:3.1.25 and celery:4.0.2 with docker and I found they all use LPUSH and BRPOP. Also following the codes history in kombu, it has never changed.

[2019-09-03 15:40] danielchengml commented on #123
@sickyoon I am using this library for my task queue and also noticed that it is behaving like a stack where the most recent task gets prioritized causing earlier tasks to stay at the bottom of the stack.
Redis documents this very nicely where in order to achieve a queue-like behaviour, `RPUSH` is used with `LPOP` or `LPUSH` with `RPOP`. In our case @actumn suggested the latter.

ref: https://redis

[2019-09-03 15:52] sickyoon commented on #123
sorry @danielchengml , I've been busy with work lately.
thanks for the PR @actumn

[2019-09-03 15:52] #123 closed

[2019-09-18 23:30] robintiwari opened #126 "compilation fails on message.go: not enough arguments in call to uuid."
I got following error when trying to compile the go project referencing gocelery:

github.com/gocelery/gocelery/message.go:XX:XX: not enough arguments in call to uuid.Must
	have (uuid.UUID)
	want (uuid.UUID, error)

if you look into the latest code for https://github.com/satori/go.uuid uuid.Must function has extra argument "error"

[code]

[2019-10-06 17:51] sickyoon commented on #126
This has been fixed a while ago: https://github.com/gocelery/gocelery/commit/1d9c08eaef92472494ab8d2d54c15040cbab6541
Please pull latest master.

[2019-10-06 17:51] #126 closed

[2019-10-06 17:59] sickyoon commented on #117
Thanks for the PR! LGTM!

[2019-10-06 17:59] #117 closed

[2019-10-06 18:03] sickyoon opened #127 "Customizable redis/amqp connection"
customizable redis/amqp connection.
related: https://github.com/gocelery/gocelery/pull/125

[2019-10-06 20:05] sickyoon commented on #126
You might still get this error if you use version < 1.2.0. Please use latest master branch.

[2019-10-10 10:26] pbnsilva commented on #126
This is still an issue, or not?

`Must` expects `(uuid.UUID, error)`, see https://github.com/satori/go.uuid/blob/master/uuid.go#L156

[2019-10-11 02:21] khoivun commented on #126
The latest mater branch now throws the same error in message.go instead
`../../../../pkg/mod/github.com/gocelery/gocelery@v0.0.0-20191008025616-26dc580ba02e/message.go:30:41: not enough arguments in call to uuid.Must
        have (uuid.UUID)
        want (uuid.UUID, error)
../../../../pkg/mod/github.com/gocelery/gocelery@v0.0.0-20191008025616-26dc580ba02e/message.go:31:35: not enough arguments in

[2019-10-11 06:06] pbnsilva commented on #126
Update `go.uuid`: `go get github.com/satori/go.uuid@master`

[2019-10-15 08:53] kamigerami commented on #77
we are evaluating it at this time. Great work on the project! We would love more examples like beat/periodic, queues for different tasks, registering multiple tasks  etc...

[2019-12-10 03:47] mezgerj opened #129 "Add a basic guide for cloning, setting up project and running tests"
A basic guide for these items would go a long way for those coming primarily from the python world to start contributing to this awesome project

[2019-12-11 10:23] aaronn commented on #89
Hey @sickyoon, just checking up on this since you mentioned it should be comparable. Right now my current celery instance is kicked off with `celery -A myproj.celery worker --beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler --autoscale=10,1`

However I don’t see any way I can see the —beat flag or the scheduler flag with go-celery. Am I doing this the wrong way? I haven’t c

[2019-12-12 19:06] martincapello opened #132 "Update gocelery to use Go 1.13 and Go modules"
Hi, I was wondering if there is any interest in supporting the latest Go version (1.13 at the moment of writing) and replace dep by Go modules.
So, I already made a PR https://github.com/gocelery/gocelery/pull/131 for this :slightly_smiling_face:

Now, I'm trying to figure out why code coverage has decreased...since I didn't touch the source code :thinking:

[2019-12-24 00:14] sickyoon opened #133 "Migrate go github actions"
Migrate go github actions from travis

[2019-12-24 00:16] sickyoon opened #134 "Fix data race in test"
Running test with `-race` fails with following:
[code]

[2019-12-24 14:41] sickyoon commented on #133
resolved

[2019-12-24 14:41] #133 closed

[2020-01-07 08:42] #115 closed

[2020-05-28 13:40] sunny316 opened #136 "AMQP broker hardcoded to queuename "Celery""
AMQP broker hardcoded to queuename "Celery"

The broker works with "celery" named queue name. There doesn't seem to be an option to customise those while initialising the broker.

[2020-05-29 10:23] sunny316 commented on #136
Also, there are Delay Methods to work with args or kwargs but not a combination. Can we extend that ?

[2020-07-10 02:14] aaronn opened #138 "How does gocelery "pick off" tasks from Redis?"
I'm using `gocelery` in production and we're hitting a point where tasks are constantly running. Unfortunately, it seems like we've recently hit a stumble where we had a bunch of downtime and as a result a bunch of tasks piled up. Upon restarting `gocelery` these tasks are queued up and about a day behind.

How exactly does gocelery pull tasks from redis, and is there any way for me to purge this

[2020-07-13 00:12] sickyoon opened #141 "Support `expires` flag"
Support `expires` flag to invalidate old tasks

[2020-07-13 00:16] sickyoon commented on #138
Hey, @aaronn I am glad to hear that you are trying out gocelery in your production environment. I'd love to jump on a call to discuss any challenges you may have.

To answer your question, GoCelery uses `BRPOP` command but this answer is likely irrelevant to your issue. Celery uses `expires` flag to invalidate old tasks independent of a broker. However, GoCelery does not yet support `expires` flag

[2020-07-13 00:21] sickyoon opened #142 "Delay for both kwargs and args"
Support Delay methods for kwargs + args combination

[2020-07-13 00:22] sickyoon commented on #136
Hi @sunny316 I will look into PR requests for named queue. I think we can simply make Queue and Exchang public.
As for the second question, I created a new issue to support new method signature to support both args and kwargs: https://github.com/gocelery/gocelery/issues/142
You are also welcome to create a pull request.

[2020-07-13 01:18] sickyoon commented on #141
It looks like `expires` uses ISO 8601 format which isn't supported by golang json parser natively (only RFC3339 is supported). Might have to resort to custom structure and override json marshalling/unmarshalling.
[code]

[2020-07-13 01:31] sickyoon opened #143 "Fix failing github action due to golangci-lint"
Fix failing github action due to golangci-lint
They recommend using their github action instead: https://golangci-lint.run/usage/install/#ci-installation

[2020-07-14 18:30] sickyoon commented on #143
Fixed and verified lint successes and failures.

[2020-07-14 18:30] #143 closed

[2020-07-14 22:26] sickyoon commented on #141
Workers will throw an error if an expired task is received.

[2020-07-14 22:26] #141 closed

[2020-07-14 22:27] sickyoon commented on #138
@aaronn `expires` flag is now supported: https://github.com/gocelery/gocelery/pull/146
Let me know if you have any more issues.

[2020-07-14 22:27] #138 closed

[2020-07-15 04:02] sickyoon opened #147 "Support tasks without arguments"
Support tasks without arguments
Details can be found in https://github.com/gocelery/gocelery/pull/114

[2020-07-15 23:54] sickyoon commented on #142
This feature would need to introduce breaking changes by modifying `CeleryTask` interface.
Holding this off until I put in other fixes in for next release.

[2020-07-16 05:22] sickyoon opened #148 "Only first return value is processed"
Only the first return value is returned from a function call.

https://github.com/gocelery/gocelery/blob/c877f7cbb00c367ebc4f6ad65b83183b445e53fa/worker.go#L180

[2020-07-16 05:24] sickyoon opened #149 "Tasks without return value would cause panic when `Get` is called"
Tasks without return value would cause panic when `Get` is called.

[2020-07-16 15:46] sickyoon commented on #132
PR merged.

[2020-07-16 15:46] #132 closed

[2020-07-16 15:57] sickyoon commented on #127
All connections are exposed now. Closing.

[2020-07-16 15:57] #127 closed

[2020-07-16 19:37] sickyoon commented on #109
There are total 6 states supported by Celery:
https://docs.celeryproject.org/en/master/userguide/tasks.html#built-in-states

GoCelery should update states during the execution as well.

[2020-07-19 22:53] sickyoon opened #151 "Redis cluster support using redis-go"
Create separate broker/backend to support redis cluster using redis-go.

[2020-08-03 18:15] gadelkareem opened #153 "Postgresql as broker"
Any plans to add PostgreSQL to list of brokers?

[2020-08-04 16:20] sickyoon commented on #153
I can support it if there is a demand. It would be helpful if you could share your use cases.

[2020-08-05 09:52] gadelkareem commented on #153
So I need to add a queue system to https://gitlab.com/gadelkareem/skeleton . And since I am deploying the demo to Heroku free tier, PostgreSQL is the easiest way to manage the queue. Moreover using database for queueing is very common in many frameworks ex https://laravel.com/docs/7.x/queues

There are a lot of advantages for using PostgreSQL, ex https://gist.github.com/chanks/7585810 , and there

[2020-08-05 15:30] sickyoon commented on #153
It looks like it is not officially supported by the Celery project. https://github.com/celery/celery/issues/5149
I don't think free tier availability is a good reason to support entire new broker/backend.

[2020-08-05 15:30] #153 closed

[2020-08-11 16:42] bbkgh commented on #153
Hi. We have another use case. We have multi-zone database (CockrochDB) that is wire compatible with Postgresql. It would be nice to use postgres as broker for deploying multi zone/datacenter celery worker that are synced by backend broker. With this we can achieve symmetric deployments on multi datacenter.

Is there any other solution for synchronizing workers? like using cockroachdb as lock manag

[2020-08-25 15:11] wo9999999999 opened #155 "how to set the ETA ?"
is it possible to set the ETA?

[2020-08-25 15:52] sickyoon commented on #155
It is not yet supported but I am working on it.
https://github.com/gocelery/gocelery/issues/81

[2020-09-24 07:22] samuelololol opened #158 "Does gocelery support querying task status via taskid?"
Hi developers,

In python implementation with celery, you could easily query tasks' status or result via taskid
[code]

Does gocelery support this usage?

[2020-09-24 21:36] sickyoon commented on #147
fixed

[2020-09-24 21:36] #147 closed

[2020-10-31 12:34] archerbj opened #160 "Revoke task"
It seems gocelery doesn't support revoke task

[2020-11-08 09:12] harshitsinghai77 opened #162 "Return struct from the func (cc *CeleryClient) Register(name string, task interface{})"
In the below code, I want to return more than one variable in the add function.

[code]

I want to do something like this
[code]

The basic idea is to give back the results of the current progress
I want to achieve something like below Python code
[code]

[2020-11-11 03:52] yoonsio commented on #162
@harshitsinghai77 you can achieve the same result by returning a map.
Refer to https://github.com/gocelery/gocelery/blob/825d89059344006c104412e628d456b3a111a6a5/gocelery_test.go#L1086

[2020-11-11 03:53] #162 closed

[2020-11-11 03:58] yoonsio commented on #160
I'll have to take a look to see if message protocol version 1 can support it.

[2020-11-11 04:04] yoonsio commented on #158
Not yet, but I don't see why not.
We can make `AsyncResult` struct hold `GoCelery` struct (app in your python example) and expose its state.

[2020-11-12 06:08] kobayashi commented on #149
I think `Get` method works correctly.

in gocelery_test.go, each test case can get err from `Get` method with 2s timeout.
[code]
However, panic is caused at `releaseResultMessage` function in message.go because `v == nil`, right?

[code]

[2020-11-13 06:00] kobayashi commented on #94
This is is not a bug. As @m3nu mentioned, the python client have to set at least `CELERY_TASK_PROTOCOL=1` in client side config to catch the job by gocelery worker. [README](https://github.com/gocelery/gocelery#celery-configuration) describes about it in detail.

So simply add the config options, here is a simpler example.

[code]

Then the result must be

[code]

[2020-11-13 11:53] yoonsio commented on #149
@kobayashi you are right. I am curious about how Celery checks if the method has been executed without checking the result.

[2020-11-13 12:24] yoonsio commented on #149
added test case: https://github.com/gocelery/gocelery/blob/ab4dc82c38ba560a068ade9e0d4d9eb81fc42729/gocelery_test.go#L98-L170

[2020-11-13 15:29] yoonsio opened #164 "Support option functions"
To provide better customizations, support constructor with option functions.

[2020-11-24 11:38] initsword opened #165 "can not get result by AMQP"
as title,and get lots of unasked topic

[2020-12-02 22:12] yoonsio commented on #165
@initsword can you provide more details?

[2020-12-14 01:58] alexign commented on #153
@bbkgh just use routing https://docs.celeryproject.org/en/stable/userguide/routing.html#manual-routing
So you can route your task to leader cluster
Also you can always raise an exception it task and handle it to make celery task failed in controllable way

[2020-12-18 14:30] danthegoodman1 opened #166 "gocelery fails to return tasks submitted before worker started"
If a task is submitted before any workers are connected, and a gocelery worker then joins, it does find the task. However the task caller does not get the result back, even though the task ran on the worker. This works properly with python workers.

**WHAT SHOULD HAPPEN**

- Caller calls task, no workers currently waiting
- Worker started
- Worker handles task
- Caller gets results back

**WHAT AC

[2021-01-09 05:05] initsword commented on #165
me,too

[2021-02-24 07:43] zaipingy commented on #160
waiting

[2021-02-26 02:29] Lucas9591 commented on #160
Waiting for revoke task

[2021-07-07 06:49] bingdow opened #170 "Keep getting this error: amqp_backend: failed to acknowledge result message : delivery not initialized"
I've used gocelery for months and it has been working well
but just yesterday when I deploy my app to a new GCP project I keep getting this error

[code]

but if I change to use redis as message broker it works like a charm
Is there anything I need to modify? Probably pkg dependencies?

RabbitMQ Version: rabbitmq:3.8.19-alpine

[2021-08-20 07:26] thanhpd-teko opened #171 "connection.close() does not work."
Hi, I'm using gocelery to send celery task to broker (rabbitmq), and python as worker.
However sometimes I received this error: "channel/connection is not open" that makes message cannot send to broker.
The walkthrough solution is that I will check that connection is usable before send to to broker, if not then I will close old connection and make new connection.

[code]
However the method b.Close

[2021-08-26 14:49] FerdinaKusumah commented on #77
I've used to create queue in tracking gps at startgps.id

[2021-09-08 19:16] jtcho opened #172 "Interest in a PostgreSQL result backend"
Hi,

I see that there is Celery/Redis backend support out of the box – but unfortunately I've been using PostgreSQL as a result backend for my own project until I can migrate to Redis.

I plan to write a lightweight Postgres backend wrapper based off of the Celery one – https://github.com/celery/celery/blob/master/celery/backends/database/models.py . Since the interface provided by `gocelery` is s

[2021-10-04 10:07] rakete commented on #136
The queue name "celery" is still hardcoded in SendCeleryMessage, so while it's possible to create a broker with a custom queue name, Delay will still always send tasks to the "celery" queue: https://github.com/gocelery/gocelery/blob/825d89059344006c104412e628d456b3a111a6a5/amqp_broker.go#L115

[2021-10-15 22:31] ftntming commented on #172
That would be awesome!

[2021-10-16 03:19] jtcho commented on #172
@ftntming This ended up being more tricky than I anticipated, because Celery pickles all task results in the DB backend. I tried using a couple golang pickle deserializers with minimal success. Instead, I ended up just writing a thin wrapper around the python `celery` that shells out and reads stderr/stdout.

[2021-10-16 17:09] ftntming commented on #172
No worries man. I found that too. I realized that, implementations of Celery clients in golang/nodejs all lack the enhanced features of Celery task features, e.g. Chained, so I'm now more inclined to stick with Python Celery

[2021-11-05 16:16] dbgoytia commented on #148
Hi @yoonst ! I want to jump in and see if I can solve this one! Any chance you could point me in the right direction?
What's the actual expected behaviour vs the current behaviour?

[2021-12-03 20:00] keon94 opened #173 "Race-condition with worker task execution"
Hello,

This [logic](https://github.com/gocelery/gocelery/blob/825d89059344006c104412e628d456b3a111a6a5/worker.go#L140) in the worker is not thread safe. When the client registers a function with a Task interface instance, that task is essentially a singleton bound to that function-name that will be shared between all worker threads accessing it during execution. As a result, calls to ParseKwargs

[2022-04-07 09:18] DriedYellowPeach commented on #173
Did you mean this?
[code]
this  ParseKwargs write some struct fields and this taskInterface will be accessed by several goroutines(workers). But actually, this taskInterface is not a **shared variable**

beacause this line, in the same function:
[code]
this type assertion will create a new variable, so every goroutine will use a copy of the original task, there is no shared variable.

[2022-04-28 09:33] ddevault opened #176 "Worker still accepts new tasks following shutdown"

[2022-07-03 02:17] marselester opened #177 "Sharing a fork"
Hi! I've made a few changes in a fork https://github.com/marselester/gocelery, e.g., panic handling, spawning workers on demand, CELERY_IGNORE_RESULT capability, fixed a memory leak.

Then I decided to rearrange the same ideas resulting in Gopher Celery https://github.com/marselester/gopher-celery.
Maybe somebody else will find it useful.

[2022-08-30 11:10] daicheng123 opened #178 "Can asynq dynamically add a scheduled task using the Rset API trigger?"
just like python celery,thanks

[2022-09-09 07:08] keon94 commented on #173
@DriedYellowPeach Good catch. Still, that's a shallow copy, so basically any pointer fields will end up being shared (which is what my original test must have been using). The developers will just have to keep in mind not to change state on such fields (or do so with mutexes, etc), or not include them altogether. That said, this is not really an issue, but maybe it could be documented better.

[2022-09-09 07:08] #173 closed, assigned to nobody

[2022-11-21 17:29] vitormhenrique commented on #35
Was anyone able to update the library to work with the protocol 2?